*{
    margin:0;
    padding:0;
}

.cabecalho{
    background-color:red;
    color:rgb(39, 38, 38); 
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
    font-size: 16px;
}

.cabecalhoImagem{
    width: 25%;

}

body{
    background-color: rgb(78, 75, 75);
}
li{
    color:rgb(22, 22, 22);
}


.cabecalhoListaItem{
    display:inline-block;
    margin: 0 16px;
    padding: 24 0px;
}